{{ template "head" }}
<h2>Add Dependency to '{{ .Isolation.Name }}'</h2>
<form enctype="application/x-www-form-urlencoded" method="post">
	<select name="dep">
	  {{ range .Deps }}

	  	{{ $dep := . }}

	  	 <optgroup label="{{.Name}}:">
	  	{{ range .States }}
	  	
		  <option value="{{$dep.Name}}::{{.Name}}" {{ if $.Isolation.HasDep $dep }}disabled{{end}}> 	 
		  	{{.Name}}
		  </option>

	  	{{ end }}
	  	</optgroup>
	  {{ end }}
	</select>
	<button type="submit">select</button>
</form>

{{ template "foot" }}